:root {
  font-size: 24px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3f72af;
  h1 {
    text-align: center;
  }
}

.entering {
  transform: scale(1);
}
.entered {
  transform: scale(1);
}
