:root {
  font-size: 24px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3f72af;
}
h1 {
  margin: 0;
  color: #f9f7f7;
  padding: 30px;
  text-align: center;
  @media (max-width: 700px) {
    font-size: 1.5em;
  }
  @media (max-width: 491px) {
    font-size: 1.3em;
  }
  @media (max-width: 437px) {
    font-size: 1.2em;
  }
}

.entering {
  transform: scale(1);
}
.entered {
  transform: scale(1);
}
