@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
:root {
  font-size: 24px;
}
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  button {
    font-family: "Oswald", sans-serif;
  }
  input {
    font-family: "Oswald", sans-serif;
  }
}
header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  z-index: 3;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
h1 {
  margin: 0;
  color: #f9f7f7;
  -webkit-text-stroke: 1px #3a3a3a;
  padding: 30px;
  text-align: center;
  @media (max-width: 700px) {
    font-size: 1.5em;
  }
  @media (max-width: 491px) {
    font-size: 1.3em;
  }
  @media (max-width: 437px) {
    font-size: 1.2em;
  }
  @media (max-width: 390px) {
    font-size: 1.1em;
  }
}
.effects {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.entering {
  transform: scale(1);
}
.entered {
  transform: scale(1);
}
