.employeeManagement {
  position: relative;
  display: flex;
  justify-content: center;
  color: #112d4e;
  z-index: 2;

  .employeeFilterWrapper {
    height: 50%;
    position: sticky;
    top: 132px;
    background-color: #f9f7f7;
    padding: 10px;
    border-radius: 20px;
    button {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #3f72af;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-size: 24px;
      border: 3px solid transparent;
      transition: border 0.3s;
      &:hover {
        border: 3px solid #00306b;
      }
    }
    @media (max-width: 700px) {
      display: none;
    }
  }
}
.filterBtn {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  top: 39px;
  left: 10px;
  border: none;
  background-image: url("../../../public/menu.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  font-size: 24px;
  @media (max-width: 700px) {
    display: block;
  }
  @media (max-width: 491px) {
    top: 36px;
    width: 35px;
    height: 35px;
  }
  @media (max-width: 437px) {
    top: 38px;
    width: 30px;
    height: 30px;
  }
  @media (max-width: 390px) {
    top: 36px;
  }
}

.employeeFilterModal {
  display: none;
  position: fixed;
  left: -3px;
  top: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  transform: translateX(-300px);
  transition: transform 0.3s;
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3f72af;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    border: 3px solid transparent;
    transition: border 0.3s;

    &:hover {
      border: 3px solid #00306b;
    }
  }
  @media (max-width: 700px) {
    display: block;
    top: 110px;
  }
  @media (max-width: 491px) {
    top: 105px;
  }
  @media (max-width: 437px) {
    top: 100px;
  }
}

video {
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
}
