.employeeManagement {
  display: flex;
  justify-content: center;
  color: #112d4e;
}
.employeeFilterWrapper {
  height: 50%;
  position: sticky;
  top: 10px;
  background-color: #f9f7f7;
  padding: 10px;
  border-radius: 20px;
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3f72af;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    border: 3px solid transparent;
    &:hover {
      border: 3px solid #00306b;
    }
  }
  @media (max-width: 700px) {
    display: none;
  }
}

h1 {
  color: #f9f7f7;
}
