.employeeCard {
  box-sizing: border-box;
  background-color: #f9f7f753;
  color: #f9f7f7;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  text-align: center;
  button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3f72af;
    color: #f9f7f7;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
    border: 3px solid transparent;
    transition: border 0.3s;
    &:hover {
      border: 3px solid #00306b;
    }

    @media (max-width: 491px) {
      padding: 5px 20px;
      font-size: 20px;
      margin-top: 5px;
    }
  }
  h3 {
    margin: 5px;
  }
  p {
    margin: 5px;

    @media (max-width: 491px) {
      font-size: 20px;
    }
  }
}
